<h1>Our Campus Visits</h1>
<p>There are over 4000 institutions of higher education in the United States of America. Some of these colleges may be in your backyard but many are located throughout this wonderful country. There is a perfect college/university for everyone!  Below is a list of college campuses where the CQA Advisors have personally visited.</p>
ARIZONA
Arizona State University 
University of Arizona
CALIFORNIA 
Biola University
Cal Poly Pomona
Cal Poly San Luis Obispo
Chapman University
Claremont McKenna College
Concordia University
CSU Bakersfield
CSU Dominguez Hills
CSU East Bay
CSU Fullerton
CSU Long Beach
CSU Los Angeles
CSU Northridge
CSU Sacramento
CSU San Marcos
CSU Stanislaus
Harvey Mudd College
Humboldt State University
Loyola Marymount University
Occidental College 
Pepperdine University 
Pitzer College
Pomona College
San Diego State University
San Francisco State University
San Jose State University
Santa Clara University 
Scripps College
Sonoma State University
Stanford University
UC-Berkeley
UC-Irvine
UCLA
UC-San Diego
UC-Santa Barbara
UC-Santa Cruz
University of San Diego
University of San Francisco
Univ. of Southern California
CONNECTICUT
Trinity College 
University of Connecticut
Wesleyan University
Yale University
COLORADA 
Colorado College
U of Colorado, Boulder
U of Colorado, Denver
U of Colorado, Col/Springs
University of Denver
DELAWARE
University of Delaware
DC	
American University
Catholic University of America
Gallaudet University
George Washington University
Georgetown University
FLORIDA  
University of Central Florida
GEORGIA
Emory University
Georgia State University
Georgia Tech University
University of Georgia
ILLINOIS  
Bradley University
DePaul University
Eastern Illinois University
Illinois State University
Millikin University
Northwestern University
Northern Illinois University
University of Chicago
University of Illinois-Champaign/Urbana
Western Illinois University
INDIANA
Ball State University
Butler University
DePauw University
Indiana University – Bloomington
Indiana State University-Terre Haute
Purdue University
University of Notre Dame
IOWA  
Drake University
Iowa State University
University of Iowa
University of Northern Iowa
KANSAS  
University of Kansas
LOUISIANA 
Loyola University New Orleans
Tulane University
MAINE
Bates College 
Bowdoin College
College of the Atlantic
University of Maine - Orono
University of New England
University of Southern Maine
MARYLAND
U of Maryland-College Park
MASSACHUSETTS
Amherst College 
Assumption College 
Bentley University
Boston College 
Boston University
College of the Holy Cross
Emerson College
Emmanuel College 
Endicott College
Harvard College 
Lesley University
MIT
Merrimack College
Mount Holyoke College
Northeastern University 
Regis College 
Salem State College 
Simmons College 
Smith College 
Suffolk University
Tufts University 
U of Massachusetts-Amherst
U of Massachusetts-Boston
U of Massachusetts-Lowell
Westfield State University
Wheelock College 
Wentworth Institute of Tech.
MICHIGAN 
Albion College
Central Michigan University
Eastern Michigan University
Michigan State University
Northwood University
University of Michigan-Ann Arbor
Western Michigan University
MINNESOTA 
University of Minnesota – Twin Cities
MISSOURI
St. Louis University
Washington University-St. Louis
NEBRASKA
University of Nebraska - Kearney
NEW HAMPSHIRE
Dartmouth College
Franklin Pierce University
Keene State College
New England College
Saint Anselm College 
University of New Hampshire
NEW JERSEY
Montclair State University
Rutgers University
NEW MEXICO 
University of Mexico – Albuquerque
NEW YORK 
Columbia University
Cornell University
Hofstra University
New York University
Pace University
St. Thomas Aquinas College
Syracuse University
NORTH CAROLINA  
Duke University
Elon University
UNC-Chapel Hill
Wake Forest University
OHIO  
Bowling Green State University
Case Western Reserve University
Denison University
Kent State University-Kent
Miami University of Ohio
Ohio State Univ.-Columbus
Ohio University
University of Dayton
University of Mount Union
University of Findlay
University of Toledo
Wright State University
OREGON
Portland State University
PENNSYLVANIA
Bucknell University
Drexel University
Haverford College 
Lafayette College
Lehigh University 
Muhlenberg College 
Penn. State Univ.-College Park
Saint Joseph’s University
Swarthmore College 
Temple University
University of Pennsylvania 
Villanova University
West Chester University
Widener University
RHODE ISLAND 
Brown University
University of Rhode Island
TENNESSEE 
Belmont University
Fisk University
Tennessee State University
Vanderbilt University
TEXAS  
Texas Christian University
Southern Methodist University
University of Texas-Austin
VERMONT
Middlebury College
University of Vermont
VIRGINIA
College of William and Mary
University of Richmond
University of Virginia
WEST VIRGINIA 
Marshall University
West Virginia University
WISCONSIN
Marquette University
Ripon College
University of Wisconsin