<h2 style="text-align: center">CQA Student's College Acceptances</h2>
<div class="row">
	<div id="col-left">
American University<br />
Arizona State University<br />
Assumption College<br />
Auburn University<br />
Babson University<br />
Bard College <br />
Barry University<br />
Baylor University  <br />
Becker College<br />
Belmont University<br />
Bentley University<br />
Boston College<br />
Boston University<br />
Bridgewater State University<br />
Brown University<br />
Bryant University, RI<br />
Cal Poly, San Luis Obispo<br />
Cal State Fullerton<br />
Cal State Long Beach<br />
Carnegie Mellon<br />
Chapman University<br />
Champlain College<br />
Chico State University<br />
Clemson University<br />
Coastal Carolina University<br />
Colby Sawyer College<br />
College of Charleston<br />
College of Holy Cross<br />
Colorado State University<br />
Cornell University<br />
Dartmouth College<br />
DePaul University<br />
Eckerd College <br />
Elon University<br />
Emmanuel College<br />
Emerson College<br />
Emory University<br />
Endicott College<br />
Eugene Lang, The New School<br />
Fairfield University<br />
Farleigh Dickinson University<br />
Fisher College<br />
Florida Atlantic University<br />
Florida Gulf Coast University<br />
Fordham University<br />
Framingham State University<br />
George Mason University<br />
Georgia College & State University<br />
The George Washington University<br />
Hamilton College<br />
Harvard University<br />
Hawaii Pacific University<br />
High Point University<br />
Hobart and William Smith Colleges<br />
Hofstra University<br />
Husson University<br />
Indiana University, Bloomington<br />
Ithaca University<br />
James Madison University<br />
Johnson and Wales University<br />
Kansas State University<br />
Keene State College<br />
Lasell College<br />
Lehigh University<br />
Le Moyne College<br />
Lesley University<br />
Louisiana State University<br />
Loyola Marymount University<br />
Loyola University, Chicago<br />
Loyola University, MD<br />
Lynchburg College<br />
Lynn University, FL<br />
Marist College, New York<br />
Marquette University<br />
Marymount Manhattan<br />
Massachusetts College of Pharm/Health Science<br />
Merrimack College<br />
Miami University, Ohio<br />
Michigan State University <br />
Middle Tennessee State<br />
Mount Saint Vincent <br />
New York University<br />
Nichols College<br />
Northeastern University<br />
Ohio Wesleyan University<br />
Old Dominion University<br />
Oregon State University<br />
Pennsylvania State University<br />
Pepperdine University<br />
Plymouth State University<br />
Point Park University <br />
Providence College<br />
Purdue University<br />
Quinnipiac University<br />
Rensselaer Polytechnic Institute (RPI)<br />
Regis University, CO<br />

	</div>
	<div id="col-right">
Rider College<br />
Roger Williams University<br />
Rollins College<br />
Roosevelt University<br />
Rutgers University<br />
Sacred Heart University, CT<br />
Salve Regina University, CT<br />
Saint Anselm College<br />
Saint Johns University, NY <br />
Saint Joseph University, NY<br />
Saint Mary’s College, MD<br />
Saint Michael College<br />
San Diego State University<br />
San Francisco State University<br />
Santa Clara University<br />
Seton Hall University<br />
Siena College<br />
Simmons College <br />
Southern Methodist University<br />
Southern Utah University<br />
Sonoma State University<br />
Stetson College, FL <br />
Stonehill College<br />
Suffolk University<br />
Syracuse University<br />
Texas Christian University<br />
Tufts University<br />
Tulane University<br />
Union College, NY<br />
Utah State University<br />
University of Alabama<br />
University of Arizona<br />
University of the Arts, Philadelphia<br />
University of California, Berkeley<br />
University of California, Davis<br />
University of California, Los Angeles<br />
University of California, Irvine<br />
University of California, Riverside<br />
University of California, San Diego<br />
University of California, Santa Barbara<br />
University of California, Santa Cruz<br />
University of Colorado, Boulder<br />
University of Colorado, Denver<br />
University of Connecticut<br />
University of Delaware<br />
University of Denver<br />
University of Georgia<br />
University of Hartford<br />
University of Hawaii<br />
University of Kansas<br />
University of Maine, Orono<br />
University of Maryland, College Park<br />
University of Massachusetts, Amherst<br />
University of Massachusetts, Boston<br />
University of Massachusetts, Dartmouth<br />
University of Massachusetts, Lowell<br />
University of Miami<br />
University of Michigan, Ann Arbor<br />
University of Mississippi (Ole Miss)<br />
University of Missouri<br />
University of New England<br />
University of New Hampshire<br />
University of New Haven<br />
University of New Mexico<br />
University of North Carolina, Wilmington<br />
University of Northern Colorado<br />
University of Oklahoma<br />
University of Oregon<br />
University of Pennsylvania-Wharton School  <br />
University of Pittsburgh – Pharmacy School<br />
University of Rhode Island<br />
University of Richmond<br />
University of Rochester, NY<br />
University of San Diego<br />
University of South Carolina<br />
University of South Florida<br />
University of Southern California<br />
University of Southern New Hampshire<br />
University of Tampa<br />
University of Texas-Austin<br />
University of Utah<br />
University of Vermont<br />
University of Washington<br />
University of Wisconsin<br />
University of Wyoming<br />
Utah State University<br />
Vanderbilt University<br />
Villanova University<br />
Virginia Commonwealth University<br />
Virginia Military Institute<br />
Wagner University<br />
Washington University, St. Louis<br />
Wake Forest University<br />
Wentworth Institute of Technology<br />
West Virginia University<br />
Westfield State University<br />
Western Michigan University<br />
Westminster College<br />
William and Mary University<br />
Wheelock College <br />
Worcester Polytechnic University <br />
Wesleyan University<br />
	</div>
</div>
<div style="text-align: center">*Updated April 2015</div>