<h2 style="text-align: center">CQA Student's College Acceptances<br /> 2008-2013</h2>
<div class="row">
	<div id="col-left">
		American University <br />
Arizona State University<br />
Assumption College<br />
Auburn University<br />
Babson College<br />
Baylor University  <br />
Becker College<br />
Boston College<br />
Boston University<br />
Bridgewater State University<br />
Cal Poly, San Luis Obispo<br />
Cal State Fullerton<br />
Cal State Long Beach<br />
Carnegie Mellon<br />
Champlain College<br />
Clemson University<br />
Coastal Carolina University<br />
Colby Sawyer College<br />
Cornell University<br />
Dartmouth College<br />
Elon University<br />
Emmanuel College<br />
Fairfield University<br />
Farleigh Dickinson University<br />
Fordham University<br />
Framingham State University<br />
George Mason University<br />
The George Washington University<br />
Harvard University<br />
High Point University<br />
Hobart and William Smith Colleges<br />
Hofstra University<br />
Husson University<br />
Indiana University, Bloomington<br />
Ithaca University<br />
James Madison University<br />
Johnson and Wales University<br />
Keene State College<br />
Lasell College<br />
Le Moyne College<br />
Louisiana State University<br />
Loyola Marymount University<br />
Loyola University, MD<br />
Marymount Manhattan<br />
Mass College of Pharm/Health Science<br />
Merrimack College<br />
Michigan State University <br />
Mount Saint Vincent <br />
New York University<br />
Northeastern University<br />
Ohio Wesleyan University<br />
Old Dominion University<br />
Oregon State University<br />
Pennsylvania State University<br />
Pepperdine University<br />
Plymouth State University<br />
Point Park University <br />
Providence College<br />
Purdue University<br />
Quinnipiac University<br />
Rochester Institute of Technology<br />
Rider College<br />


	</div>
	<div id="col-right">
		Roger Williams University<br />
Rollins College<br />
Roosevelt University<br />
Saint Michael College<br />
San Diego State University<br />
San Francisco State University<br />
Seton Hall University<br />
Simmons College <br />
Southern Methodist University<br />
Sonoma State University <br />
Suffolk University<br />
Suffolk University Law School<br />
Syracuse University<br />
		Texas Christian University   <br />
Tufts University   <br />
Tulane University   <br />
University of Alabama   <br />
University of Arizona   <br />
University of the Arts, Philadelphia   <br />
University of California, Berkeley   <br />
University of California, Davis   <br />
University of California, Los Angeles   <br />
University of California, Irvine   <br />
University of California, San Diego   <br />
University of California, Santa Barbara   <br />
University of California, Santa Cruz   <br />
University of Connecticut   <br />
University of Georgia   <br />
University of Hartford   <br />
University of Hawaii   <br />
University of Maine   <br />
University of Mary Washington   <br />
University of Maryland, College Park   <br />
University of Massachusetts, Amherst   <br />
University of Massachusetts, Boston   <br />
University of Massachusetts, Dartmouth   <br />
University of Massachusetts, Lowell   <br />
University of Miami   <br />
University of Michigan, Ann Arbor   <br />
University of Mississippi (Ole Miss)   <br />
University of New England   <br />
University of New Hampshire   <br />
University of New Haven   <br />
University of Oregon   <br />
University of Pennsylvania   <br />
University of Pennsylvania-Wharton    <br />  
University of Pittsburgh   <br />
University of Rhode Island   <br />
University of San Diego   <br />
University of South Carolina   <br />
University of Southern California   <br />
University of Tampa   <br />
University of Vermont   <br />
University of Washington   <br />
University of Wisconsin   <br />
Vanderbilt University   <br />
Villanova University   <br />
Wagner University   <br />
Wake Forest University   <br />
Westfield State University   <br />
Western Michigan University   <br />
Worcester Polytechnic University    <br />
Wesleyan University   <br />
	</div>
</div>
<div style="text-align: center">*Updated December 2013</div>