<h2 style="text-align: center">Where CQA Students Have Enrolled<br /></h2>
<div class="row">
	<div id="col-left">
		American University 	       <br />
Arizona State University	       <br />
Babson College <br />
Boston College 	       <br />
Boston University 			       <br />
Cal Poly, San Luis Obispo	       <br />
Champlain College			       <br />
Clemson University	       <br />
Cornell University	       <br />
Elon University	       <br />
Emmanuel College 			       <br />
Endicott College	       <br />
Fairfield University	       <br />
George Mason University	       <br />
George Washington University	       <br />
Harvard University	       <br />
High Point University 		       <br />
Hobart and William Smith College 	       <br />
Indiana University	       <br />
Keene State College 	       <br />
Marymount Manhattan	       <br />
Merrimack College 	       <br />
Northeastern University		       <br />
Ohio Wesleyan University	       <br />
Oregon State University	       <br />
Providence College 	       <br />
Purdue University	       <br />
Quinnipiac University	       <br />
Rider College	       <br />
</div>
<div id="col-right">
	Roger Williams University		       <br />
Rochester Institute of Technology	       <br />
Salem State University	       <br />
Syracuse University	 	       <br />
Texas Christian University 	       <br />
Tufts University	       <br />
UNH 	       <br />
University of California, Berkeley	       <br />
University of California, Los Angeles	       <br />
University of California, Santa Barbara	       <br />
University of Maine	       <br />
University of Mary Washington	       <br />
University of Massachusetts, Amherst	       <br />
University of Massachusetts, Lowell	       <br />
University of Miami        <br />
University of Michigan 		       <br />
University of Oregon	       <br />
University of Pennsylvania 			       <br />
University of Rhode Island 			       <br />
University of South Carolina	       <br />
University of Southern California 		       <br />
University of Tampa	       <br />
University of Washington	       <br />
University of Wisconsin, Madison	       <br />
Villanova University	       <br />
Wake Forest University	       <br />
Wesleyan University	       <br />
WPI 	       <br />

</div>
</div>
<div style="text-align: center">*Updated December 2013</div>
