<h1>The Advisors</h1>
<h4>Meet the Co-Founders of College Quest Advising</h4>
<i> CQA History</i><br />
<p>
	Renée and Mary met as undergraduate students at the University of Massachusetts, Amherst and were active members of the national fraternity, Alpha Chi Omega. With similar professional paths in the field of Higher Education and specifically the Division of Student Affairs for a combined 25+ years of experience, they teamed up to develop a small boutique business to assist high school students and their families in their respective communities, with the very complicated process of college admissions.
</p>
<p>

     Mary and Renée worked together for several years, combining their expertise and knowledge about higher education to develop a program that will enable their clients to manage the best possible outcomes for their college admissions. They are excited to work with each of their students, to make the college process, which at times can seem quite overwhelming, simple, easy and fun for you and your student!
    </p>