<h1>The Advisors</h1>
<h4>Meet the Co-Founders of College Quest Advising</h4>
<p class="lead">CQA History</p>
<p>
	Renée and Mary met over 30 years ago as undergraduate students at the University of Massachusetts, Amherst and were active members of the national fraternity, Alpha Chi Omega. With similar professional paths in the field of Higher Education and specifically the Division of Student Affairs for a combined 25+ years of experience, we had a strong interest in forming a small boutique business to assist high school students and their families in our respective communities, with the very complicated process of college admissions.  We worked together for several years, combining our expertise and knowledge about higher education to develop a program that we believe will help our clients manage the best possible outcomes for their college admissions.  We are excited to work with each student, to make this process, which at times can seem quite overwhelming, simple, easy and fun for you and your student! Take a moment to read our article, “This is Not Your Mother’s Application Process Anymore” which was featured in the Northshore Community Magazine, June 2012, to learn more about our philosophy.
</p>
<p>
	The CQA college advisors regularly visit college campuses and college fairs greeting college admissions representatives and assessing college campuses. The advisors consistently stay current on college admissions and higher education trends by regularly attending professional admissions conferences and programs. 
<p>
<table>
	<tr rospan="3">
		<td><%= image_tag("mary_baker.jpg") %></td>
		<td>
			<table style="margin-left: 15px;">
				<tr>
					<td><b>Meet Dr. Mary K. Baker</b></td>
				</tr>
				<tr>
					<td><b>EDUCATION:</b></td>
				</tr>
				<tr>
					<td><b><u>University of Massachusetts at Amherst, MA,</u></b> BA Education and Psychology</td>
				</tr>
				<tr>
					<td><b><u>Bowling Green State University, OH,</u></b> MA Higher Education: College Student Personnel</td>
				</tr>
				<tr>
					<td><b><u>Pepperdine University, CA,</u></b> Doctorate in Education: Institutional Management and Leadership</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<p>
<br />
<b>WORK EXPERIENCE</b><br />
<p>
West Chester University, PA<br />
Iowa State University, IA <br />
California State University, Los Angeles, CA
</p>
<p>
Mary has enjoyed a successful career in higher education. She amassed over 10 years of experience in the Student Affairs Division and has also worked as a Director of Orientation and Leadership, a Director of Student Organizations, an Assistant Dean of Students and as a faculty member, teaching a Freshman 101 course for undecided majors. As a graduate student, she worked as a counselor in the Career Planning and Placement Office. In each position Mary collaborated with the Admissions office in various capacities.</p>
<p>
Later in her university career, Mary moved into the Institutional Advancement Division and worked as an Executive Director of Alumni Relations and Annual Fund, raising money for college student scholarships and other important college programs. Having visited over 130 institutions of higher education, she believes that there is a perfect college for everyone, and she strives to make the CQA experience a positive one for both students and parents.
</p>
<p>
Mary volunteers for her national sorority, Alpha Chi Omega, as President of the Foundation Board of Trustees. Her volunteer work keeps her informed about the latest trends on college campuses. She is also a member of the Western Association of College Admissions Counseling.
</p>
<p>
Mary lives in Irvine, California with her husband, Bob, their son, Andrew, who is in middle school, and Katie, a student at the University of Southern California (Class of 2016), currently studying Theater Arts.
</p>
<table>
	<tr rospan="2">
		<td><%= image_tag("renee_headshot.png") %></td>
		<td>
			<table style="margin-left: 15px;">
				<tr>
					<td><b>Meet Renée L. Serrano</b></td>
				</tr>
				<tr>
					<td><b>EDUCATION:</b></td>
				</tr>
				<tr>
					<td><b><u>University of Massachusetts at Amherst, MA</u></b>, BS Communication Disorders and Counseling</td>
				</tr>
				<tr>
					<td><b><u>Northeastern University, MA</u></b>, M. Ed. Higher Education and Administration</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br />

<p><b>WORK EXPERIENCE:</b></p>
Tufts University, MA<br />
Northeastern University, MA<br />
Endicott College, MA
</p>
<p>
Renée has over 10 years of professional experience in higher education. She has worked in numerous university departments, including Student Activities, Dean of Students, Admissions, and Career Planning and Placement.
</p>
<p>
She also served as the Development Director of Lazarus House Inc., a homeless shelter located in Lawrence, MA, the 28th poorest city in the United States. Her experience with the shelter helped her realize the impact and value of community service. She strives to instill her enthusiasm for community service in each of her CQA students.
</p>
<p>
Renée is a member of the New England Association for College Admission Counseling and she keeps current in the field by attending admissions and higher education conferences, visiting college campuses, and meeting with admissions counselors. She believes that the college admissions process is an exciting adventure for students and their families, and she remains committed to reducing the stress and anxiety that is often associated with the process.
</p>
<p>
Renée lives in North Andover, Massachusetts with her husband, Anthony (Tufts University), 
and their three children, Ashleigh (Indiana University, Class of 2010), A.J. (University of Southern California,  Class of 2012), and Alexander “Bubba” (Harvard University, Class of 2016).
</p>

</p>
