<p class="lead">CQA History </p>
<p>
Renée and Mary met over 30 years ago as undergraduate students at the University of Massachusetts, Amherst, where they were active members of the national sorority,Alpha Chi Omega. They combine for over 25 years of experience in higher education, specifically within the Division of Student Affairs. Their passion for assisting high schoolstudents and their families in the complicated college admissions process helped initiate the idea for a bi-coastal boutique business: CQA. 
</p>
<p>
They continue to work tirelessly to improve their comprehensive program in order to help each student realize their potential during the admissions process. Throughout the year they attend professional admissions conferences and make regular visits to college campuses across the nation. They have visited and assessed over 200 colleges nationwide. 
</p>
<p>
To learn more about their philosophy, read their article, <%= link_to "This is Not Your Mother’s Application Process Anymore", "http://nshoremag.com/college-guide/#sthash.Thqbxzje.dpbs" %> which was featured in the Northshore Community Magazine in June 2012 issue.
</p>