<h1> Packages </h1>
<p style="text-align: center">*Choose from 6 different package options for your college quest. Please see <%= link_to "Our Services", programs_pages_path %> for detailed descriptions of what is included</p>

<h4>1) College Quest Free Consultation </h4>
Free one-hour consultation in which we discuss a personalized plan for your student.<br />

<h4>2) Senior Express Track Quest </h4>
The Senior Express Quest commences during the student’s senior year and proceeds   through the admission decision process.<br />

<h4>3) Junior-Senior Quest </h4>
The Junior-Senior Quest commences during the student’s junior year and proceeds through the admission decision process, which occurs toward the end of senior year.<br />

<h4>4) Sophomore-Senior Quest </h4>
The Sophomore-Senior Quest commences during the student’s sophomore year and proceeds through the admission decision process, which occurs toward the end of senior year.<br />

<h4>5) Freshman-Senior Quest </h4>
The Freshman-Senior Quest commences during the student’s freshman year and proceeds through the admission decision process, which occurs toward the end of senior year.<br />

<h4>6) Individual Essay Consultation </h4>
Personal statement and college essay consultations are available upon request.<br />
<p><br />
Please call your local advisor to set up a consultation appointment and learn more about package prices.<br />
</p>
<table>
	<tr>
		<td><i>West Coast</i></td>
		<td style="padding-left: 7px"> Dr. Mary Baker</td>
		<td style="padding-left: 7px">714.614.2801</td>
	</tr>
	<tr>
		<td><i>East Coast</i></td>
		<td style="padding-left: 7px">Renée Serrano </td>
		<td>978.697.8767 </td>
	</tr>
</table>


