<h1> Packages </h1>
<p style="text-align: center">*Listed below are six different package options for your college quest.  For a full description of the programs, 
please refer to the Programs page.</p>

<h4>COLLEGE QUEST FREE CONSULTATION</h4>
Free, one-hour consultation to discuss a personalized plan for your student’s college quest.

<h4>JUNIOR-SENIOR QUEST</h4>
The Junior-Senior Quest commences during the student’s junior year and proceeds through the admission decision process, which occurs toward the end of senior year. It is a comprehensive process involving exploration of college options that best fit the student’s strengths and talents; standardized testing guidance; resume completion; college visit and college fair assistance; teacher recommendation advisement; supplement application and athletic profile guidance; full essay advisement and follow through; application completion; scholarship and financial aid direction and more.

<h4>SENIOR EXPRESS TRACK QUEST</h4>
The Senior Express Quest commences during the student’s senior year and proceeds through the admission decision process, which occurs toward the end of senior year. It is a fast-track, comprehensive process involving exploration of college options that best fit the student’s strengths and talents; standardized testing guidance; resume completion; college visit and college fair assistance; teacher recommendation advisement; supplement application and athletic profile guidance; full essay advisement and follow through; application completion; scholarship and financial aid direction and more.

<h4>SOPHOMORE-SENIOR QUEST</h4>
The Sophomore-Senior Quest commences during the student’s sophomore year and proceeds through the admission decision process, which occurs toward the end of senior year. It is a comprehensive process involving high school course selection discussion; extracurricular and community service interests and development; exploration of college options that best fit the student’s strengths and talents; standardized testing guidance; resume completion; college visit and college fair assistance; teacher recommendation advisement; supplement application and athletic profile guidance; full essay advisement and follow through; application completion; scholarship and financial aid direction and more.

<h4>FRESHMEN-SENIOR QUEST</h4>
The Freshman-Senior Quest commences during the student’s freshman year and proceeds through the admission decision process, which occurs toward the end of senior year. It is a comprehensive process involving high school course selection discussion; extracurricular and community service interests and development; exploration of college options that best fit the student’s strengths and talents; standardized testing guidance; resume completion; college visit and college fair assistance; teacher recommendation advisement; supplement application and athletic profile guidance; full essay advisement and follow through; application completion; scholarship and financial aid direction and more…

<h4>ESSAY CONSULTATION IS AVAILABLE</h4>
Personal statements/college essay consultation may be available upon request.
<hr>

Consultation appointment and package prices are available by calling advisors directly.<br />

<table>
	<tr>
		<td><i>West Coast</i></td>
		<td> Dr. Mary Baker</td>
		<td>714.614.2801</td>
	</tr>
	<tr>
		<td><i>East Coast</i></td>
		<td>Renée Serrano </td>
		<td>978.697.8767 </td>
	</tr>
</table>


