<h1> Packages </h1>
<p style="text-align: center">*Choose from 6 different package options for your college quest. Please see <%= link_to "Our Services", services_pages_path %> for detailed descriptions of what is included</p>

<h4><span class="glyphicon glyphicon-arrow-right"></span> College Quest Free Consultation </h4>
<p style="padding-left: 30px;">Free one-hour consultation in which we discuss a personalized plan for your student.</p>

<h4><span class="glyphicon glyphicon-chevron-right"></span> Senior Express Track Quest </h4>
<p style="padding-left: 30px;">The Senior Express Quest commences during the student’s senior year and proceeds   through the admission decision process.</p>

<h4><span class="glyphicon glyphicon-ok"></span> Junior-Senior Quest </h4>
<p style="padding-left: 30px;">The Junior-Senior Quest commences during the student’s junior year and proceeds through the admission decision process, which occurs toward the end of senior year.</p>

<h4><span class="glyphicon glyphicon-ok-circle"></span> Sophomore-Senior Quest </h4>
<p style="padding-left: 30px;">The Sophomore-Senior Quest commences during the student’s sophomore year and proceeds through the admission decision process, which occurs toward the end of senior year.</p>

<h4><span class="glyphicon glyphicon-thumbs-up"></span> Freshman-Senior Quest </h4>
<p style="padding-left: 30px;">The Freshman-Senior Quest commences during the student’s freshman year and proceeds through the admission decision process, which occurs toward the end of senior year.</p>

<h4><span class="glyphicon glyphicon-star"></span> Individual Essay Consultation </h4>
<p style="padding-left: 30px;">Personal statement and college essay consultations are available upon request.</p>
<p><hr>
Please call your local advisor to set up a consultation appointment and learn more about package prices.<br />
</p>
<table>
	<tr>
		<td><i>West Coast</i></td>
		<td style="padding-left: 7px"> Dr. Mary Baker</td>
		<td style="padding-left: 7px">714.614.2801</td>
	</tr>
	<tr>
		<td><i>East Coast</i></td>
		<td style="padding-left: 7px">Renée Serrano </td>
		<td>978.697.8767 </td>
	</tr>
</table>


