<h1>Our Services </h1>
<h4>The C. Q. A. Advantage:</h4>
<p>
  Individual action plans and seasoned guidance throughout the entire admissions process. That’s the CQA Advantage. <br />
  Each CQA Program Package includes:
</p>
<ul>
	<b>INDIVIDUAL STUDENT EVALUATION</b>
	<li>Examine, identify and document individual interests, strengths and aptitude.</li>
	<li>Evaluate student’s academic background through various assessment tools</li>
	<li>Develop personal action plan to emphasize student’s strengths, goals and needs</li>
</ul>
<ul>
<b>HIGH SCHOOL COURSE SELECTION:</b>

<li>Review and assess student’s high school curriculum</li>
<li>Advise course selection for positive impact on student’s potential</li>
</ul>

<ul>
<b>COMMUNITY SERVICE GUIDANCE:</b>

<li>Provide guidance to student in the development of meaningful and beneficial community service opportunities</li>
</ul>
<ul>
<b>EXTRACURRICULAR ACTIVITIES GUIDANCE:</b>

<li>Provide guidance to student in the development of meaningful and beneficial extracurricular activities</li>
</ul>
<ul>                          
<b>ESTABLISHMENT OF SCHEDULE AND TIMELINE</b>

<li>Establish an individual action plan and detailed timeline to assure applications and additional materials are completed and submitted prior to college deadlines</li>
</ul>
<ul>
<b>STANDARDIZED TESTING GUIDANCE</b>

<li>Institute test preparation strategy and identify appropriate testing timeline.</li>
<li>Analyze standardized test performance</li>
</ul>
<ul>
<b>COLLEGE IDENTIFICATION AND SELECTION</b>

<li>Generate student’s college list by matching individual academic, personal and financial profiles to appropriate higher educational institutions</li>
<li>Develop “potential college list” to “final college list” through exploration and collaboration</li>
</ul>
<ul>
<b>COLLEGE VISITS AND OPEN HOUSES</b>

<li>Provide student with instructions, tips, and questions for a successful college visit, open house, or college fair</li>
</ul>
<ul>
<b>COLLEGE INTERVIEWS</b>

<li>Prepare student for effective interactions and personal presentations to create a lasting impression during admissions interviews</li>
<li>Discuss and supply interview questions that assist in preparation of a successful and informative interview</li>
</ul>
<ul>
<b>PERSONAL STATEMENTS AND COLLEGE ESSAYS</b>

<li>Aid in development and brainstorming of ideas, themes and topics</li>
<li>Provide edits for content, vocabulary, grammar and sentence structure</li>
<li>Aid student in developing his/her personal voice to create memorable and influential essays</li>
</ul>
<ul>
<b>RECOMMENDATION LETTERS</b>
<li>Implement a strategy for student to develop positive relationships with teachers and administrators</li>
<li>Advise student on how to approach and ask teachers for recommendations</li>
<li>Assist student in providing teachers/counselors with the proper personal information to help create effective letters of recommendation</li>
</ul>
<ul>
<b>STUDENT RÉSUMÉS</b>

<li>Assist student in compiling high school experiences into an organized, professional resume for college visits, interviews and college applications</li>
</ul>
<ul>
<b>COLLEGE APPLICATION GUIDANCE THROUGH COMPLETION</b>

<li>Assist students with material preparation for the completion of individual college applications, including the universal  ‘Common Application’</li>
<li>Complete review, analysis and recommendations for several online college applications. Other reviews per request available</li>
<li>Guidance with regard to Early Decision, Early Action and Regular Decision applications</li>
<li>Application wait-list and deferral guidance and analysis</li>

</ul>
<ul>
<b>SUPPLEMENTAL MATERIAL ASSISTANCE</b>

<li>Provide guidance for applications requiring supplementary materials for specific majors including artistic portfolios and auditions.   </li>
</ul>
<ul>
<b>COLLEGIATE ATHLETIC PURSUIT</b>

<li>Assist students in exploring appropriate athletic programs reflective of individual level </li>
<li>Strive to procure an ideal academic and athletic fit for each student</li>
<li>Review NCAA rules and the NCAA Clearinghouse procedures</li>
<li>Encourage and advise on effective communication skills with coaches</li>
<li>Provide guidance with recruitment process</li>

</ul>
<ul>
<b>SCHOLARSHIP AND FINANCIAL AID RESEARCH GUIDANCE</b>

<li>Assist students in exploring and applying to appropriate scholarships</li>
<li>General financial aid advice and timeline reminders</li>
<li>Review of scholarship application personal statement/essays</li>

</ul>


