<h1>Programs & Services </h1>
<h4>The C. Q. A. Advantage:</h4>
<p>
	Individual action plans, personal assistance, guidance & direction in the total college planning process which maximizes your chances of college acceptances and gives you a competitive advantage. Services include the following: 
</p>
<ul>
	STUDENT EVALUATION:
	<li>Examine, identify and document individual interests, strengths and aptitude.</li>
	<li>Evaluate student’s academic background and talents.</li>
	<li>Develop personal action plan to emphasize student’s strengths, talents, goals and needs.</li>
</ul>
<ul>
HIGH SCHOOL COURSE SELECTION:

<li>Review and assess student’s high school curriculum and academic record.</li>
<li>Plan choices/courses that directly impact college options.</li>
</ul>
<ul>
ACADEMIC STUDENT PROFILE:

<li>Assess, plan and implement student’s academic interests and possible future goals.</li>
</ul>
<ul>
COMMUNITY SERVICE:

<li>Provide direction and guidance for meaningful and beneficial community involvement, interests and opportunities.</li>
</ul>
<ul>
EXTRACURRICULAR ACTIVITIES:

<li>Provide direction and guidance for meaningful and beneficial high school involvement, interests and opportunities.   </li>
</ul>
<ul>                          
ESTABLISHMENT OF SCHEDULE AND TIME LINE:

<li>Develop and establish schedule while maintaining focus on college quest targets.</li>
<li>Individual action plan and detailed timelines established to assure applications and additional materials are completed and submitted prior to college deadlines.</li>
</ul>
<ul>
STANDARDIZED TESTING GUIDANCE:

<li>Institute test preparation strategy, identify appropriate testing & timeline.</li>
<li>Analysis of standardized test performance.</li>
<li>Resource and testing tutorial recommendations.</li>
</ul>
<ul>
COLLEGE IDENTIFICATION AND SELECTION:

<li>Generate student’s "college list" by matching individual academic, personal and financial profiles to appropriate higher educational institutions.</li>
<li>Cultivate student's “potential college list” to “final college list” through exploration and collaboration.</li>
</ul>
<ul>
COLLEGE VISITS AND OPEN HOUSES:

<li>Provide instruction, tips and questions for successful college admissions sessions, visits, tours, open houses and college fairs.</li>
</ul>
<ul>
COLLEGE INTERVIEWS:

<li>Prepare students for effective interactions and personal presentations for intention of creating a lasting impression for admissions interviews.</li>
<li>Relay relevant guidelines for enhancing positive techniques and personal confidence.</li>
<li>Discuss and supply thorough list of interview questions to assist in preparation of a successful and informative interview.</li>
</ul>
<ul>
PERSONAL STATEMENTS AND COLLEGE ESSAYS:

<li>Complete essay support for a successful and continuing impression.</li>
<li>Aid in development and brainstorming of ideas, themes and topics.</li>
<li>Provide ongoing support and editing for content, vocabulary, grammar and sentence structure.</li>
<li>Feedback and editorial services provided by both CQA Advisors for every written essay.</li>
<li>Guide students in developing personal "voice" for memorable and influential essays.</li>
</ul>
<ul>
RECOMMENDATION LETTERS:

<li>Discuss with students the purpose of developing positive relationships with teachers and administrators for effective recommendation letters.</li>
<li>Guidance in identifying key individuals for relevant academic, guidance and other supplementary recommendations.</li>
<li>Advise students on how to approach and ask teachers/others for recommendations.</li>
<li>Assist students in providing teachers/counselors personal information, which helps in writing more effective letters of recommendation</li>
</ul>
<ul>
STUDENT RÉSUMÉS:

<li>Assist students in compiling high school experiences into an organized, professional resume for college applications, scholarships and beyond.</li>
<li>Resume will demonstration student’s commitment, dedication and contribution in all activities.</li>
</ul>
<ul>
COLLEGE APPLICATION GUIDANCE THROUGH COMPLETION:

<li>Guide students throughout application process preparation through the acceptance selection process.</li>
<li>All student applications are reviewed thoroughly.</li>
<li>Review early applications that result in deferral or wait list decision.</li>
<li>Analysis of results and development of strategies for purposes of a college's reevaluation.</li>
</ul>
<ul>
SUPPLEMENTAL MATERIAL ASSISTANCE:

<li>Provide guidance for completing supplementary materials for students with specialized talents; musicians, dancers, actors, math/science students, writers, artists or photographers.</li>
<li>These applications often require additional materials be sent to prospective colleges.</li>
</ul>
<ul>
COLLEGIATE ATHLETIC PURSUIT:

<li>Assist students in exploring appropriate programs and procedures for their level of athletics.</li>
<li>Strive to procure an ideal academic and athletic fit for each student.</li>
<li>Review NCAA rules and the NCAA Clearinghouse procedures.</li>
<li>Encourage and develop effective communication skills with coaches.</li>
<li>Discussion of athletic materials to enhance the recruitment process.</li>
</ul>
<ul>
SCHOLARSHIP AND FINANCIAL AID RESEARCH GUIDANCE:

<li>Assist students in exploring and applying to appropriate scholarships.</li>
<li>General financial aid advice and timeline reminders.</li>
</ul>


