<div style="text-align: center">
  <h2>College Quest Advising</h2>
  <i>presents</i>
  <h4>CAPS - College Application Process Seminars</h2>
</div>
<div style="text-align: center;border: 1px solid black; width: 700px;margin-left: auto; margin-right: auto;">
  <b>CAPS</b> is a four-part seminar series that provides students and families with the tools and guidance necessary to conquer the complicated and competitive college application process. With workshops geared toward identifying target schools, understanding the financial aid process and more, the comprehensive CAPS program prepares college-bound students for success.
</div>
<div style="width: 700px;margin-left: auto; margin-right: auto;">
  <br />
  <p>
    Instructor: <b>Renée L. Serrano</b>, M. Ed., co-founder of <b>COLLEGE QUEST ADVISING</b>, is an Independent Private College Advisor.  She and west coast co-founder, Dr. Mary Baker have used their 25+ years of higher education experience to guide students successfully through the college application process.
  </p>
  <p>
    <b>CQA</b> clients have earned admittance to: Brown, BU, UCLA, BC, Northeastern, USC, Dartmouth, Tulane, U Miami, U Michigan, UMass at Amherst, U Maryland, Harvard, Providence, RIT, Bard, Cornell, UNH, UVM, URI, ASU, American, Babson, Clemson, Elon, Wake Forest, GWU, IU, Purdue, Syracuse, Tufts, Berkeley, Fairfield, Roger Williams, Merrimack, U Penn, U Tampa, U Washington, Wesleyan, WPI, and many more colleges throughout the nation.
  </p>
</div>
<div style="text-align: center;border: 1px solid black; width: 700px;margin-left: auto; margin-right: auto;">
  <h3>CAPS SEMINAR SUMMARY</h3>
</div>
<div style="padding-top: 15px;text-align: left; width: 700px;margin-left: auto; margin-right: auto;">
  <u><i>Seminar One-May 31st - </i></u><span class="redtext"><b> COLLEGE APPLICATION PROCESS KICK-OFF</b></span>
  <ul>
    <li>The Parental Role</li>
    <li>General Overview of Application Process and Timelines</li>
    <li>Admission Factors Considered by Colleges</li>
    <li>Identifying and Beginning Essential Action Steps</li>
    <li>Educated Strategy for Individual Student’s Applications </li>
    <li>Student Activities Discussion and Worksheet</li>
  </ul>
  <br />
  <u><i>Seminar Two - June 28th - </i></u><span class="redtext"><b> BEING UNIQUE GETS YOU NOTICED - ESSAYS</b></span>
  <ul>
    <li>The Common Application Essay Questions</li>
    <li>What Makes a Successful 650-Word Essay? </li>
    <li>Essay writing approach for the CommonApp Essay</li>
    <li>The Essay – Brainstorming Ideas </li>
    <li>Revealing the Common App College Supplements and Essays</li>
  </ul>
  <br />
  <u><i>Seminar Three - August 2nd - </i></u><span class="redtext"><b> DISTINGUISHING YOUR APPLICATION</b></span>
  <ul>
    <li>Introduction to the Common Application</li>
    <li>Common Application vs. Individual College Applications</li>
    <li>Understanding FERPA</li>
    <li>How Naviance and Collegeboard Simplify the Process</li>
    <li>Early Decision, Early Action and Regular Admission </li>
    <li>What are your "Best Fit" Colleges</li>
  </ul>
  <br />
  <u><i>Seminar Four - September 13th - </i></u><span class="redtext"><b> FINALIZING ADMISSIONS PROCESS & APPLICATION</b></span>
  <ul>
    <li>Finalizing your College List</li>
    <li>Financial Aid Overview – FAFSA and CSS</li>
    <li>Applying for Scholarships</li>
    <li>Deferred/Waitlisted Possibilities</li>
    <li>Final Checklist for College Application Process</li>
  </ul>
</div>
<hr style="width: 700px;">
<div style="padding-top: 15px;text-align: left; width: 700px;margin-left: auto; margin-right: auto;">
  <table>
    <tr>
      <td valign="top" width: "25%"><b>WHEN:</b></td>
      <td width="75%">
        Session One: <b>Sunday, May 31st, 2015</b> <br />
        Sessions Two: <b>Sunday, June 28th, 2015</b>  <br /> 
        Session Three: <b>Sunday, August 2nd, 2015</b>   <br />
        Session Four: <b>Sunday, September 13th, 2015</b> <br />
      </td>
    </tr>
    <tr>
      <td valign="top" width: "25%"><b>INFO:</b></td>
      <td width="75%">
        All sessions start promptly at <b>6:00pm</b> and end at <b>8:30pm</b><br />
        The CAPS seminars limits class size to <b>12 students.</b> <br />
        Each session will require <b>class preparation assignments.</b><br />
      </td>
    </tr>
    <tr>
      <td valign="top" width: "25%"><b>WHERE:</b></td>
      <td width="75%">
        1320 Osgood Street, North Andover, MA.
      </td>
    </tr>
    <tr>
      <td valign="top" width: "25%"><b>FEE:</b></td>
      <td width="75%">
        <b>$1500</b> - <i>Includes CAPS seminar workbook and materials</i>
      </td>
    </tr>
    <tr>
      <td valign="top" width: "25%"><b>REGISTRATION:</b></td>
      <td width="75%">
        REGISTRATION: Please email Renée at <a href="mailto:renee@collegequestadvising.com" target="_top">renee@collegequestadvising.com</a> to 
        reserve your spot. (<i>Space is limited</i>) Registration deadline is May 17, 2015.
      </td>
    </tr>
  </table>
  <p>
    <i>*If you have 5 or more (12) students interested in the CAPS program, please contact Renée for the possibility of providing the program in your neighborhood.</i>
  </p>
  <hr width="700px">
  <p style="text-align: center;"><i>For more details about CAPS and Registration Information, Renée Serrano at renee@collegequestadvising.com or 978.697.8767.go to collegequestadvising.com or contact</i></p>
</div>

