<div style="text-align: center">
  <h2>College Quest Advising</h2>
  <i>in association with</i>
  <br />
  <%= image_tag("sullivan_tutoring.png") %>
  <br />
  <i>presents</i>
  <h4><u>C.A.P.S. - College Application Process Seminars</u></h4>
</div>
<div style="text-align: center; width: 700px;margin-left: auto; margin-right: auto;">
  <b>C.A.P.S.</b> is a four-part seminar series that provides students and families with the tools and guidance necessary to conquer the complicated and competitive college application process. With workshops geared toward identifying target schools, understanding the financial aid process and more, the comprehensive C.A.P.S. program prepares college-bound students for success.
</div>
<p>
  &nbsp
</p>
<!-- <div style="width: 700px;margin-left: auto; margin-right: auto;">
  <br />
  <p>
    Instructor: <b>Renée L. Serrano</b>, M. Ed., co-founder of <b>COLLEGE QUEST ADVISING</b>, is an Independent Private College Advisor.  She and west coast co-founder, Dr. Mary Baker have used their 25+ years of higher education experience to guide students successfully through the college application process.
  </p>
  <p>
    <b>CQA</b> clients have earned admittance to: Brown, BU, UCLA, BC, Northeastern, USC, Dartmouth, Tulane, U Miami, U Michigan, UMass at Amherst, U Maryland, Harvard, Providence, RIT, Bard, Cornell, UNH, UVM, URI, ASU, American, Babson, Clemson, Elon, Wake Forest, GWU, IU, Purdue, Syracuse, Tufts, Berkeley, Fairfield, Roger Williams, Merrimack, U Penn, U Tampa, U Washington, Wesleyan, WPI, and many more colleges throughout the nation.
  </p>
</div> -->
<div style="text-align: center; width: 700px;margin-left: auto; margin-right: auto;">
  <h3>C.A.P.S. SEMINAR SUMMARY</h3>
  <b>Location: CQA at Sullivan Tutoring</b>, 2 Electronics Avenue, Danvers, MA. 01923
  <br />
  *Please note that <b>SAT/ACT Tutoring</b> is NOT included in C.A.P.S. seminar. For information about <b>Standardized Test Tutoring</b>, please contact <b>Sullivan Tutoring</b> directly at 9787740676
</div>
<div style="padding-top: 15px;text-align: left; width: 700px;margin-left: auto; margin-right: auto;">
  <u><i>Seminar One <b>Monday, September 14th</b> - </i></u><span class="redtext"><b> COLLEGE APPLICATION PROCESS KICK-OFF</b></span>
  <ul>
    <li>The Parental Role</li>
    <li>General Overview of Application Process and Important Timelines</li>
    <li>Admission Factors Considered by Colleges</li>
    <li>Identifying and Beginning Essential Action Steps</li>
    <li>Educated Strategy for Individual Student’s Applications </li>
    <li>Student Activities Discussion and Worksheet</li>
  </ul>
  <br />
  <u><i>Seminar Two - <b>Monday, September 21st</b> - </i></u><span class="redtext"><b> BEING UNIQUE GETS YOU NOTICED - ESSAYS</b></span>
  <ul>
    <li>Understanding the Common Application Essay Questions</li>
    <li>What Makes a Successful 650-Word Essay? </li>
    <li>Pursuasive Essay Writing Approach for the CommonApp Essay</li>
    <li>The Essay – Brainstorming Ideas </li>
    <li>Revealing the Common App College Supplements and Essays</li>
  </ul>
  <br />
  <u><i>Seminar Three -<b> Monday, October 5th </b>- </i></u><span class="redtext"><b> DISTINGUISHING YOUR APPLICATION</b></span>
  <ul>
    <li>Introduction to the Common Application</li>
    <li>Common Application vs. Individual College Applications</li>
    <li>Understanding FERPA</li>
    <li>How Naviance and Collegeboard Simplify the Process</li>
    <li>Early Decision, Early Action and Regular Admission </li>
    <li>Your "Best Fit" Colleges</li>
  </ul>
  <br />
  <u><i>Seminar Four - <b>Monday, October 26th</b>- </i></u><span class="redtext"><b> FINALIZING ADMISSIONS PROCESS & APPLICATION</b></span>
  <ul>
    <li>Finalizing your College List</li>
    <li>Completed Registrations - Common App</li>
    <li>Financial Aid Overview – FAFSA and CSS</li>
    <li>Researching techniques for Scholarships Opportunities</li>
    <li>Deferred/Waitlisted - What Now?</li>
    <li>Final Checklist for College Application Process</li>
  </ul>
</div>
<hr style="width: 700px;">
<div style="padding-top: 15px;text-align: left; width: 700px;margin-left: auto; margin-right: auto;font-size: 14px;">
  <table>
    <tr>
      <td width="10%">
        <%= image_tag("renee_headshot.png") %>
      </td>
      <td width="5%">&nbsp</td>
      <td width="85%">
        <p>
          Instructor: Renée L. Serrano, M. Ed., co-founder of COLLEGE QUEST ADVISING, is an Independent Private College Advisor.  She and west coast co-founder, Dr. Mary K. Baker have used their 25+ years of higher education experience to guide students successfully through the college application process.  
        </p>
        <p>
          CQA clients have earned admittance to: Brown, BU, UCLA, BC, Northeastern, USC, Dartmouth, Tulane, U Miami, U Michigan, UMass Amherst, U Maryland, Harvard, Providence, RIT, Bard, Cornell, UNH, UVM, URI, ASU, American, Clemson, Elon, Wake Forest, GWU, IU, Purdue, Syracuse, Tufts, Berkeley, Fairfield, Roger Williams, U Penn, U Tampa, Wesleyan, WPI, Merrimack, Stonehill, Coastal Carolina, University of South Carolina, The College of William and Mary, University of Richmond and many more colleges throughout the nation.
        </p>
      </td>
    </tr>
  </table>
</div>
<hr style="width: 700px;">
  <p style="text-align: center"><b><i>Currently there are two different sessions schedule</i></b></p>
<div style="padding-top: 15px;text-align: left; width: 700px;margin-left: auto; margin-right: auto;">
  <table width= "700">
    <tr>
      <td width="50%" style="text-align: center;"><b>Session A</b></td>
      <td width="50%" style="text-align: center;"><b>Session B</b></td>
    </tr>
    <tr>
      <td><b>WHERE:</b> Sullivan Tutoring, 2 Electronics Avenue, Danvers, MA 01923</td>
      <td><b>WHERE:</b> Joseph N. Hermann Youth Ctr., 33 Johnson St, N. Andover</td>
    </tr>
    <tr><td>&nbsp</td></tr>
    <tr>
      <td><b>WHEN:</b><br />
        Session One: <b>Monday, MAY 2nd, 2016</b> <br />
        Sessions Two: <b>Monday, MAY 9th, 2016</b>  <br /> 
        Session Three: <b>Monday, MAY 16th, 2016</b>   <br />
        Session Four: <b>Monday, MAY 23rd, 2016</b> <br />
      </td>
      <td><b>WHEN:</b><br />
        Session One: <b>Monday, MAY 3rd, 2016</b> <br />
        Sessions Two: <b>Monday, MAY 10th, 2016</b>  <br /> 
        Session Three: <b>Monday, MAY 17th, 2016</b>   <br />
        Session Four: <b>Monday, MAY 24th, 2016</b> <br />
      </td>
    </tr>
    <tr><td>&nbsp</td></tr>
    <tr>
      <td><b>TIME: </b>All sessions start promptly at <b>7:00pm</b> and end at <b>9:30pm</b></td>
      <td><b>TIME: </b>All sessions start promptly at <b>5:30pm</b> and end at <b>8:00pm</b></td>
    </tr>
    <tr><td>&nbsp</td></tr>
  </table>
  <span><b>*THERE WILL BE FUTURE C.A.P.S. SEMINARS SCHEDULED FOR JULY & AUGUST. CONTACT RENÉE FOR INFORMATION.</b></span>
  <hr style="width: 700px;">
  <p><b>INFO:</b> The CAPS seminars <b><u>limits class size to first 12 students registered.</u></b> Each session will require <b>class preparation assignments</b></p>
  <p><b>REGISTRATION INFORMATION:</b></p>
  <ul>
    <li>Call or email to reserve your seminar seat AND</li>
    <li>Return the completed registration with tuition payment to:<br />
      <i>College Quest Advising, 265 Hay Meadow Road, North Andover, MA 01845 (Space is limited)</i>
    </li>
    <li>Registration <b><u>deadline</u></b> for both Session A and B is <b><u>April 18th, 2016</u></b></li>
    <li>For more details about C.A.P.S. and Registration Information, contact: <br />
      <b>Renée Serrano at 978.697.8767</b> or <a href="mailto:renee@collegequestadvising.com" target="_top">renee@collegequestadvising.com</a>
    </li>
  </ul>
  <table>
    <tr>
      <td valign="top" width: "25%"><b>TUITION:</b></td>
      <td width="75%">
        <b>$1500</b>(non refundable) - <i>Includes C.A.P.S. seminar workbook and materials</i>
      </td>
    </tr>
  </table>
  <p>
  </p>
  <hr width="700px">
</div>

