<h1>Testimonials</h1>
<p>
“I want to thank you again for all the help you have given me this past year. The college application process is so hectic that I don’t think I would have ever survived it without your guidance, (and I definitely wouldn’t have gotten into UPenn)! You really took a lot of stress out of the process for me and I can’t tell you how much I appreciate that". <br />
<i>-Kathryn, University of Pennsylvania, Class of 2016</i>
</p>
<p>
“I cannot thank you enough for all your help with my son’s college applications. Your inspiration and support was pricelessand life altering for both my son and I. Applying to college has become such a complicated process and your direction and management of the process is amazing”!<br />
<i>-Teddy, mother of Peter, University of Rhode Island, Class of 2016</i>
</p>
<p>
“Thank you, thank you, thank you for all of your hard work with our daughter, Ali. The college application process was scary to us and you made it manageable. Your help lead Ali to recognize all of her potential and helped the many colleges see her strengths. You do your work so gracefully and naturally-that is truly a gift. Please know and remember the difference you made in Ali’s life and therefore in our lives, too.
We are so grateful to you”.<br />
<i>-Kathleen, mother of Ali, Quinnipiac University, Class of 2016</i>
</p>
<p>
“I can never thank you enough for helping Michelle achieve the first step in her future. Your wonderful energy, positive attitude and endless knowledge made her college search experience one filled with happiness and hope for the future…thank you so very much”.<br />
<i>Barbara, mother of Michelle, American University, Class of 2016</i>
</p>
<p>
“Thank you so much for all the help you gave me throughout this whole application process. It made it so much easier on both myself and my parents”.<br />
<i>-Dan, Wesleyan University, Class of 2016</i>
</p>
<p>
“Our daughter was overwhelmed with the college process. CQA helped her to break it down and feel more comfortable. The last thing our daughter wanted was advice from her parents...this is where CQA was most valuable.  They were able to relate to her well and our daughter listened.  By the end of the process her self-esteem had risen and she was excited about going to college. We are forever grateful to CQA”.<br />
<i>Cynthia, mother of Anabel, University of Mary Washington, Class of 2016</i>
</p>