<h1>Testimonials</h1>
<div id="fake-container">
<p>
I want to thank you again for all the help you have given me this past year. The college application process is so hectic that I don’t think I would have ever survived it without your guidance, (and I definitely wouldn’t have gotten into UPenn)! You really took a lot of stress out of the process for me and I can’t tell you how much I appreciate that. <br />
<i><strong>Kathryn, University of Pennsylvania, Class of 2016</strong></i>
</p>
<p>
I cannot thank you enough for all your help with my son’s college applications. Your inspiration and support was priceless and life altering for both my son and I. Applying to college has become such a complicated process and your direction and management of the process is amazing!<br />
<i><b>Teddy, mother of Peter, University of Rhode Island, Class of 2016</b></i>
</p>
<p>
Thank you, thank you, thank you for all of your hard work with our daughter, Ali. The college application process was scary to us and you made it manageable. Your help lead Ali to recognize all of her potential and helped the many colleges see her strengths. You do your work so gracefully and naturally-that is truly a gift. Please know and remember the difference you made in Ali’s life and therefore in our lives, too.
We are so grateful to you.<br />
<i><b>Kathleen, mother of Ali, Quinnipiac University, Class of 2016</b></i>
</p>
<p>
I can never thank you enough for helping Michelle achieve the first step in her future. Your wonderful energy, positive attitude and endless knowledge made her college search experience one filled with happiness and hope for the future…thank you so very much.<br />
<i><b>Barbara, mother of Michelle, American University, Class of 2016</b></i>
</p>
<p>
Thank you so much for all the help you gave me throughout this whole application process. It made it so much easier on both myself and my parents.<br />
<i><b>Dan, Wesleyan University, Class of 2016</b></i>
</p>
<p>
Our daughter was overwhelmed with the college process. CQA helped her to break it down and feel more comfortable. The last thing our daughter wanted was advice from her parents...this is where CQA was most valuable.  They were able to relate to her well and our daughter listened.  By the end of the process her self-esteem had risen and she was excited about going to college. We are forever grateful to CQA.<br />
<i><b>Cynthia, mother of Anabel, University of Mary Washington, Class of 2016</b></i>
</p>
<p>
College Quest Advising helped ease my stress through the college process. Thanks to them, I was able to stay organized and ahead of the game. I do not know where I would have been without them. I am excited to attend UCLA this upcoming year.<br />
<i><b>Caroline, UCLA, Class of 2017</b></i> 
</p>
<p>
We could not have gotten through this process and to this point without Renée Serrano and College Quest Advising. At first, the whole undertaking seemed so overwhelming and daunting, but with Renee's help and guidance, and constant reassurance, our daughter stayed on track, focused and motivated. Ultimately, she was accepted to wonderful university that is the best fit for her. We would recommend College Quest Advising to anyone looking to get the most out of the college application experience. <br />
<i><b>Eileen and David Dwortz, Parents of Madeleine, University of Michigan, Class of 2017</b></i>
</p>
<p>
Renée made attending my dream school possible. She made the process so much less stressful and made sure I took full advantage of all my strengths throughout the application process. Renée made sure I was prepared for everything from college visits, essays, and interviews. I am so thankful that she helped me gain acceptance to every school that I thought were completely out of my reach.<br />
<i><b>Emily, Cornell University, Class of 2017</b></i>
</p>
<p>
When it came time for fourth child to begin the college search and application process, we knew we needed some assistance. Our work schedules, combined with Caroline’s school, athletic and own work schedule, would not allow for proper research, guidance and decision-making. Well, our prayers where answered when we began to work with Renee Serrano, and CQA.
Starting back in Caroline’s junior year, Renee worked diligently with our daughter to map out a time line and game plan. It was not an easy task for Renee, but here we are almost 2 years later packing Caroline’s bags to UCLA! A monumental acceptance, made easier by Renee and CQA.  Thorough, professional and successful are just a few superlatives we can say about Renee’s work!<br />
<i><b>Paul and Kelley, Parents of Caroline, UCLA, Class of 2017</b></i>
</p>
<p>
What a perfect way to take some of the stress out of the college process for our son and us. The best part was that by September of senior year, our son had 90% of his application done and could put his efforts where they belonged which was into getting good grades!<br />
<i><b>Noreen, Mother of Tyler, Elon University, Class of 2017</b></i>
</p>
<p>
The college application process is nothing but stressful. However, when you’re working with Renee, she has a way to make you feel like you have everything under control.  Without Renee, I do not think my college application experience would have been as smooth. She was always on top of everything and helped me with my essays, applications, and final decisions. Renee was there every step of the way, and had an answer for every question. Her brilliant and creative ideas made me feel more confident and prepared. All of our hard work paid off when I was accepted into my dream school. Thank you Renee for everything!  <br />
<i><b>Rachel, Boston University, Class of 2017</b></i>
</p>
<p>
I don’t think I have properly thanked you for your tremendous help in my college process. I am extremely happy with my choice to attend Northeastern. I couldn’t have gotten to where I am without you-you’ve made a difference in my life path and I am forever grateful.<br />
<i><b>Mackenzie Northeastern University, Class of 2017</b></i>
</p>
<p>
I can’t begin to tell you how wonderful you have been with Alexa and how much she has appreciated your enthusiasm. Your support and encouragement has been immeasurable to both Alexa and myself. <br />
<i><b>Rachele, Aunt of Alexa Class of 2018</b></i>
</p>
<p>
We are truly grateful to Mary and College Quest Advising for the professional and personal service we all received, especially in the current environment of college applications. Today, the process is completely different and much more complex than back in our days of the 1980’s. We could not begin to guide our daughter without the pro-active, up-to-date, and detailed advice of CQA. Having another adult, not to mention a true expert in the field, providing one-on-one accountability and encouragement to our daughter was a gift. Most importantly, she ended up at her dream school and it fits her perfectly. <br />
<i><b>Cari and Andy Coleman, Parents of Katie, Texas Christian University, Class of 2017</b></i>
</p>
<p>
Renée I just wanted to say thank you for everything. Megan had the best experience of her life. I am very thankful for all you have done for her. I'm sure she's keeping you updated on everything. The communication was the best part. We really appreciate everything, This is a very exciting time for Megan.<br />
<i><b>Mandy, Mother of Megan Northeastern University Class of 2017</b></i>
</p>
<p>
I really appreciate everything you have done, I truly feel without your ongoing advice and support she would not be on her way to Dartmouth.  You are amazing and I can't begin to thank you for all you have done.  It must be a wonderful feeling knowing that you are truly making a difference in the future of so many students!<br />
<i><b>Carrie, mother of Caroline, Dartmouth College, Class of 2018</b></i>
</p>
</div>













