<h2 style="text-align:center;">Campus Visits</h2>
<div id="sub-header"><i>There are over 4000 institutions of higher education in the United States of America. Some of these colleges 
may be in your backyard and many are located throughout this wonderful country. 
There is a perfect college for everyone!</i>
</div>
<h4 style="text-align: center;">Below is a list of college campuses that the CQA Advisors have personally visited. </h4>
<div class="row">
	<div id="col-left">
		<b><u>Arizona</u></b><br />
		Arizona State University<br />
		University of Arizona<br />
		<b><u>California</u></b><br />
		Biola University<br />
		Cal Poly Pomona<br />
		Cal Poly San Luis Obispo<br />
		Chapman University<br />
		Claremont McKenna College<br />
		Concordia University<br />
		CSU Bakersfield<br />
		CSU Dominguez Hills<br />
		CSU East Bay<br />
		CSU Fullerton<br />
		CSU Long Beach<br />
		CSU Los Angeles<br />
		CSU Northridge<br />
		CSU Sacramento<br />
		CSU San Marcos<br />
		CSU Stanislaus<br />
		Harvey Mudd College<br />
		Humboldt State University<br />
		Loyola Marymount University<br />
		Occidental College <br />
		Pepperdine University    <br /> 
		Pitzer College<br />
		Pomona College<br />
		San Diego State University<br />
		San Francisco State University<br />
		San Jose State University<br />
		Santa Clara University <br />
		Scripps College<br />
		Sonoma State University<br />
		Stanford University<br />
		UC-Berkeley<br />
		UC-Irvine<br />
		UCLA<br />
		UC-San Diego<br />
		UC-Santa Barbara <br />
		UC-Santa Cruz<br />
		University of San Diego<br />
		University of San Francisco<br />
		University of Southern California<br />
		<b><u>Connecticut</u></b><br />
		Fairfield University<br />
		Quinnipiac University<br />
		Sacred Heart University<br />
		Trinity College <br />
		University of Connecticut<br />
		Wesleyan University<br />
		Yale University<br />
		<b><u>Colorado</u></b><br />
		Colorado College<br />
		U of Colorado, Boulder<br />
		U of Colorado, Denver<br />
		U of Colorado, Col/Springs<br />
		University of Denver	<br />
		Delaware	<br />
		University of Delaware<br />

<b><u>DC	</u></b>	<br />
American University<br />
Catholic University of America<br />
Gallaudet University<br />
George Washington University<br />
Georgetown University<br />
<b><u>Florida	</u></b>	<br />

Florida Gulf Coast University<br />
University of Central Florida<br />

<b><u>Georgia</u></b> <br />
     Emory University<br />
		Georgia State University<br />
		Georgia Tech University<br />
		University of Georgia<br />

<b><u>Illinois	</u></b>	<br />
Bradley University<br />
		DePaul University<br />
		Eastern Illinois University<br />
		Illinois State University<br />
		Millikin University<br />
Northwestern University<br />
Northern Illinois University<br />
University of Chicago<br />
University of Illinois-Champaign/Urbana<br />
Western Illinois University <br />

<b><u>Indiana</u></b><br />
	Ball State University<br />
Butler University<br />
DePauw University<br />
Indiana University – Bloomington<br />
Indiana State University-Terre Haute<br />
Purdue University<br />
University of Notre Dame<br />


<b><u>Iowa	</u></b>	<br />
Drake University<br />
		Iowa State University<br />
		University of Iowa<br />
		University of Northern Iowa<br />

<b><u>Kansas	</u></b>	<br />
University of Kansas<br />

<b><u>Louisiana	</u></b><br />
Loyola University New Orleans<br />
		Tulane University<br />

<b><u>Maine	</u></b>	<br />
Bates College <br />
Bowdoin College<br />
College of the Atlantic<br />
		University of Maine - Orono<br />
University of New England<br />
University of Southern Maine<br />

<b><u>Maryland	</u></b><br />
U of Maryland-College Park<br />

<b><u>Massachusetts	</u></b><br />
Amherst College <br />
Assumption College <br />
Babson College<br />
Bentley University<br />
Boston College <br />
Boston University<br />
Brandeis University<br />
Bridgewater State University<br />
Bunker Hill Community College<br />
College of the Holy Cross<br />
Curry College<br />
Emerson College<br />
Emmanuel College <br />
Endicott College<br />
Harvard College<br />
Lasell College <br />
Lesley University<br />
MIT<br />
</div>
<div id="col-right">
Merrimack College<br />
Mount Holyoke College<br />
North Shore Community College<br /> 
Northern Essex Community College<br />
Northeastern University <br />
Regis College   <br />
Salem State College  <br />
Simmons College <br />
Smith College<br />
Stonehill College <br />
Suffolk University<br />
Tufts University <br />
U of Massachusetts-Amherst<br />
U of Massachusetts-Boston<br />
U of Massachusetts-Dartmouth<br />
U of Massachusetts-Lowell<br />
Wellesley College<br />
Wentworth Institute of Technology<br />
Westfield State University<br />
Wheaton College<br />
Wheelock College   <br />

<b><u>Michigan</u></b>	<br />
Albion College<br />
Central Michigan University<br />
Eastern Michigan University<br />
		Michigan State University<br />
Northwood University<br />
University of Michigan-Ann Arbor<br />
Western Michigan University<br />

<b><u>Minnesota</u></b><br />
	University of Minnesota – Twin Cities<br />

<b><u>Missouri	</u></b><br />
St. Louis University<br />
		Washington University-St. Louis<br />

<b><u>Nebraska</u></b>	<br />
University of Nebraska - Kearney<br />

<b><u>N. Hampshire</u></b> <br />
 Dartmouth College<br />
		Franklin Pierce University<br />
		Keene State College<br />
		New England College<br />
		Plymouth State College<br />
Saint Anselm College  <br />
University of New Hampshire<br />

<b><u>New Jersey</u></b>	<br />
Montclair State University<br />
		Rutgers University<br />

<b><u>New Mexico</u></b>	<br />
University of Mexico – Albuquerque<br />

<b><u>New York	</u></b><br />
Columbia University<br />
Cornell University<br />
Hofstra University<br />
New York University<br />
Pace University<br />
St. Thomas Aquinas College<br />
Syracuse University<br />

<b><u>No. Carolina </u></b>   <br />
Duke University<br />
Elon University<br />
UNC-Chapel Hill<br />
Wake Forest University<br />

<b><u>Ohio	</u></b>	<br />
Bowling Green State University<br />
		Case Western Reserve University<br />
		Denison University<br />
Kent State University-Kent<br />
Miami University of Ohio<br />
Ohio State Univ.-Columbus<br />
Ohio University<br />
University of Dayton<br />
University of Mount Union<br />
University of Findlay<br />
University of Toledo<br />
Wright State University<br />

<b><u>Oregon	</u></b>	<br />
Portland State University<br />

<b><u>Pennsylvania	</u></b><br />
Bucknell University<br />
Drexel University<br />
Haverford College  <br />
Lafayette College<br />
Lehigh University  <br />
Muhlenberg College  <br />
Penn. State Univ.-College Park<br />
Saint Joseph’s University<br />
Swarthmore College  <br />
Temple University<br />
University of Pennsylvania<br /> 
Villanova University<br />
West Chester University<br />
Widener University<br />

<b><u>Rhode Island</u></b>	<br />
Brown University<br />
		Bryant University<br />
		Providence College<br />
		Rhode Island College<br />
	Rhode Island School of Design<br />
Roger Williams University<br />
Salve Regina University<br />
University of Rhode Island<br />

<b><u>Tennessee	</u></b><br />
Belmont University<br />
		Fisk University<br />
		Tennessee State University<br />
		Vanderbilt University<br />

<b><u>Texas	</u></b>	<br />
Texas Christian University<br />
		Southern Methodist University<br />
		University of Texas-Austin<br />

<b><u>Vermont	</u></b><br />
Middlebury College<br />
		University of Vermont<br />

<b><u>Virginia</u></b> <br />
	College of William and Mary<br />
University of Richmond<br />
University of Virginia<br />

<b><u>West Virginia </u></b>  <br />
Marshall University<br />
		West Virginia University<br />

<b><u>Wisconsin	</u></b><br />
Marquette University<br />
		Ripon College<br />
		University of Wisconsin<br />

	</div>
	</div>






 
 
 

